@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  height: 100vh;
}

main {
  display: flex;
  gap: 20px;
  place-content: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.mobile-background {
  background-image: url("./right-leadway-image-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.right-container {
  background-image: url("./right-leadway-image-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.box-shadow {
  box-shadow: 0px 20px 70px 0px #0000000f;
}

.login-box-shadow {
  box-shadow: 0px 40px 70px 0px #ff7a001a;
}

.help-text {
  position: absolute;
  top: 20px;
  right: 30px;
}

.customer-container {
  position: absolute;
  bottom: 20px;
}
